
<footer>
    <div class="footer-content">
        <div>
            <h4 class="footer-title">
                Company Info
            </h4>
            <p class="footer-link">About Us</p>
            <p class="footer-link">Latest Post</p>
            <p class="footer-link">Contact Us</p>
            <p class="footer-link">Shop</p>
        </div>
        <div>
            <h4 class="footer-title">
                Help Links
            </h4>
            <p class="footer-link">Tracking</p>
            <p class="footer-link">Order Status</p>
            <p class="footer-link">Delivery</p>
            <p class="footer-link">Shipping Info</p>
            <p class="footer-link">FAQ</p>
        </div>
        <div>
            <h4 class="footer-title">
                Useful Links
            </h4>
            <p class="footer-link">Special Offers</p>
            <p class="footer-link">Gift Cards</p>
            <p class="footer-link">Advertising</p>
            <p class="footer-link">Terms of Use</p>
        </div>
        <div>
            <h4 class="footer-title">
                Get in the Know
            </h4>
            <input class="email-input "placeholder="Enter email" />
            <button class="email-btn" type="button">></button>
        </div>
    </div>
    <div class="info-footer">
        <div class="copyright-info">
            <p>@2020 NorthStar eCommerce</p>
            <span>Privacy Policy</span>
            <span>Terms & Conditions</span>
        </div>
        <div class="brands">

        </div>
    </div>
</footer>